words = {}
words["duko"] = "dog"
words["duku"] = "dogs"
words["miro"] = "cat"
words["miru"] = "cats"
words["kudu"] = ["store","take","took","select","pick"]
words["kudi"] = "give"
words["mi"] = ["I","me"]
words["midi"] = ["we","us"]
words["di"] = ["they","them","that","their"]
words["dire"] = "there"
words["dira"] = "that"
words["duro"] = "what"
words["duru"] = "whats"
words["miri"] = "hello"
words["deko"] = "do"
words["deku"] = "does"
words["deki"] = "did"
words["diku"] = ["hide","fall","down","shortend","minus(-)","close","low","less","single"]
words["diru"] = ["show","rise","up","extended","plus(+)","open","high","more","multi"]
words["rido"] = ["the","an","it","a"]
words["ridu"] = ["it's","as"]
words["nuli"] = ["no","false","bad"]
words["nali"] = ["yes","true","good"]
words["riku"] = ["to","in","at"]
words["riso"] = ["go","start","join"]
words["risu"] = ["goto","goes"]
words["ridi"] = ["got","started","joined"]
words["kino"] = "fox"
words["kinu"] = "foxes"
words["kako"] = "house"
words["kaku"] = "houses"
words["si"] = "if"
words["ri"] = ["else","other"]
words["siso"] = ["end","stop","leave"]
words["siru"] = ["male","boy","he"]
words["sira"] = ["female","girl","she"]
words["raso"] = "propose"
words["rasu"] = "proposes"
words["rasi"] = "known"
words["rase"] = "now"
words["suko"] = "work"
words["suku"] = "working"
words["rino"] = "task"
words["rinu"] = "tasks"
words["nuku"] = "run"
words["rira"] = "same"
words["riri"] = "similar"
words["riro"] = "diffent"
words["riru"] = "diffents"
words["kuro"] = "language"
words["kuru"] = "languages"
words["nara"] = "voice"
words["noko"] = "chat"
words["noku"] = "chating"
words["sura"] = "sex"
words["ruso"] = "have"
words["rusu"] = "have'd"
words["rusi"] = "fish(y)"
words["kura"] = "thank"
words["ni"] = "you"
words["nu"] = "wow"
words["na"] = "cool"
words["rika"] = "play"
words["riki"] = "fun"
words["niko"] = "luck"
words["niku"] = "lucky"
words["kuka"] = "game"
words["nano"] = "system"
words["nanu"] = "systems"
words["nani"] = "technology"
words["naro"] = "bye"
words["naru"] = "bye-bye"
words["rina"] = "varible"
words["nara"] = "math"
words["nari"] = "number"
words["rini"] = "string"
words["nuri"] = ["and","with"]
words["kuna"] = ["advanced","powerful"]
words["nako"] = ["electronic","digial"]
words["naku"] = "electronics"
words["raro"] = "call"
words["raru"] = "calling"
words["rara"] = "called"
words["nila"] = "mean"
words["niro"] = "program"
words["niru"] = "programing"
words["nini"] = "done"
words["nino"] = "back"
words["ninu"] = "backs-up"
words["niki"] = "main"
words["nira"] = "menu"
words["ka"] = "all"
words["ke"] = "none"
words["keki"] = "unload"
words["keko"] = ["load","read"]
words["keku"] = ["loading","reading"]
words["kano"] = ["save","set"]
words["kane"] = ["saved","setted"]
words["kanu"] = ["saving","setting"]
words["kike"] = ["planet","world"]
words["la"] = "0"
words["li"] = "1"
words["lo"] = "2"
words["lu"] = "3"
words["lala"] = "4"
words["lila"] = "5"
words["lola"] = "6"
words["lula"] = "7"
words["lali"] = "8"
words["lili"] = "9"
words["lori"] = "network"
words["luri"] = "internet"
words["luka"] = "settings"
words["rilo"] = "save"
words["rilu"] = "saving"
words["rili"] = ["summon","spawn"]
words["rila"] = ["resummon","respawn"]
words["nara"] = "sorry"
words["niro"] = "story"
words["niru"] = "stories"
words["nira"] = "town"
words["niri"] = "city"
words["nariko"] = "human"
words["nariku"] = "humans"
words["karini"] = "earth"
words["kine"] = "Therefore"
words["kani"] = ["say","speak"]
words["kana"] = ["speech","paragraph"]
words["kanira"] = ["said","spoke"]
words["rako"] = ["move","switch"]
words["raku"] = ["moved","switched"]
words["rake"] = ["moving","switching"]
words["lora"] = ["north","up"]
words["lori"] = ["south","down"]
words["lira"] = ["east","right"]
words["liri"] = ["west","left"]
words["lura"] = ["land","area","space"]
words["luko"] = "camp"
words["luku"] = "camps"
words["lari"] = ["before","early"]
words["lara"] = ["after","late"]
words["luri"] = "time"
words["rakalo"] = "make"
words["rakalu"] = "making"
words["rakale"] = "made"
words["rikilo"] = "brick"
words["rikilu"] = "bricks"
words["rikiro"] = "stone"
words["rikiru"] = "stones"
words["rolo"] = "build"
words["rolu"] = "building"
words["roli"] = "buildings"
words["rulo"] = "tall"
words["rulu"] = "taller"
words["luraka"] = "top"
words["luraki"] = "bottem"
words["ranaki"] = "sky"
words["noro"] = "bunny"
words["noru"] = "bunnys"
words["nukulo"] = "fluffle"
words["kiko"] = "cake"
words["kiku"] = "cakes"
words["naka"] = "but"
words["boku"] = ["flower","floran","nature","tree","plant"]
words["kimo"] = ["money","Currency"]
words["kibo"] = "coin"
words["kibu"] = "coins"
words["nimo"] = "Where"
words["nimu"] = "Where’s"
words["boki"] = "wear"
words["nura"] = "people"
words["boro"] = "see"
words["boru"] = "sees"
words["bori"] = "water"
words["buri"] = "lava"
words["bona"] = "push"
words["bono"] = "love"
words["bonu"] = "loves"
words["boni"] = "pull"
words["bi"] = "can"
words["bo"] = "park"
words["bu"] = "parks"
words["ba"] = "eat"
words["mira"] = ["help","info"]
words["biki"] = "food"
words["boko"] = "theme"
words["boku"] = "themes"
words["boka"] = "song"
words["boni"] = "act"
words["guro"] = "warrior"
words["guru"] = "warriors"
words["guri"] = "weapon"
words["gura"] = "attack"
words["goro"] = "friend"
words["goru"] = "friends"
words["gukara"] = "WAR"
words["gaki"] = "translate"
words["gako"] = "compare"
words["gaku"] = "compares"
words["riga"] = "mean"
words["rigi"] = "like"
words["regi"] = "dislike"
words["rago"] = "pizza"
words["ragu"] = "pizza(s)"
words["rigo"] = "test"
words["rigu"] = ["tests","testing"]
words["gala"] = "HOT"
words["galaki"] = "COld"
words["gari"] = "fire"
words["gare"] = "ice"
words["gure"] = "dry"
words["guri"] = "wet"
words["guro"] = "acid"
words["guru"] = "acids"
words["rugo"] = "poke","ask"
words["rugu"] = "pokes","asks"
words["runa"] = "monster"
words["nero"] = "let"
words["neru"] = "lets"
words["gori"] = ["set","is","like","equal(=)","as","set as"]
words["gore"] = ["life","live"]
words["rire"] = "rotate"
words["nere"] = "left"
words["nare"] = "right"
words["reka"] = ["toilet","potty"]
words["rekika"] = "problem"
words["roko"] = "you"
words["roku"] = "your"
words["reki"] = ["common","standerd"]
words["reno"] = "step"
words["renu"] = "basics"
words["rego"] = "pro"
words["regu"] = "pros"
words["gene"] = "party"
words["guna"] = "found"
words["guno"] = ["each","another"]
words["gunu"] = ["others","anothers"]
words["gakuba"] = "bake"
words["kabo"] = "use"
words["kabu"] = "uses"
words["kabe"] = "used"
words["beri"] = "instead of"
words["buraki"] = "tar"
words["buraka"] = "oil"
words["burake"] = "gas"
words["buro"] = "line"
words["buru"] = "lines"
words["ribo"] = "heaven"
words["ribu"] = "heavens"
words["biri"] = "name"
words["bedo"] = "way"
words["bedu"] = "ways"
words["bida"] = "of"
words["bide"] = "for"
words["bidi"] = "as"
words["bado"] = "to"
words["baru"] = "from"
words["bero"] = "be"
words["kabako"] = "split"
words["kabaku"] = "splitting"
words["kabaki"] = "splitted"
words["bara"] = "across"
words["bari"] = "over"
words["babi"] = "the(!)"
words["gaba"] = "warning"
words["gada"] = "translation"
words["bage"] = "undo"
words["baga"] = "redo"
words["baka"] = "copy"
words["baki"] = "paste"
words["siba"] = "code"
words["seka"] = "random"
words["seko"] = "cheat"
words["seku"] = "cheats"
words["seke"] = "cheating"
words["sero"] = "custom"
words["seru"] = "customize"
words["seri"] = "customble"
words["sebo"] = "share"
words["sebu"] = "sharing"
words["base"] = "box"
words["kasi"] = ["some","(a)few"]
words["kesira"] = "mode"
words["kemari"] = "survival"
words["kemare"] = "creative"
words["kemara"] = "spectator"
words["kemaro"] = "adventure"
words["kemaru"] = "HARdCORE"
words["buro"] = ["fool","stupid"]
words["buru"] = "dummy"
words["bakako"] = "teach"
words["baraku"] = "teaching"
words["bakiko"] = "learn"
words["bakiku"] = "learning"
words["bokika"] = "owner"
words["bokike"] = "work"
words["bokari"] = "boss"
words["bokaro"] = ["idea","plan"]
words["bokaru"] = ["ideas","plans"]
words["bokare"] = "sound"
words["bokara"] = "video(image)"
words["lokaba"] = "mad"
words["lubira"] = "happy"
words["lobaka"] = "slow"
words["lobaki"] = "fast"
words["leri"] = "light"
words["lera"] = "need"
words["lorika"] = "health"
words["loriko"] = "hunger"
words["loriku"] = "hungry"
words["bokari"] = "lord"
words["lakira"] = "came"
words["boga"] = "are"
words["nega"] = "withheld"
words["narigo"] = "confuse"
words["narigu"] = "confuses"
words["narigi"] = "confused"
words["narego"] = "understand"
words["naregu"] = "understands"
words["ne"] = "not"
words["nera"] = "because"
words["lanelo"] = "sick"
words["lanelu"] = "virus"
words["lanalo"] = "cure"
words["lanalu"] = "antidote"
words["mire"] = ["data","file"]
words["kali"] = ["ok","alright"]
words["mirilo"] = "random"
words["mikari"] = "access"
words["mileka"] = "memory"
words["mirana"] = ["central","middle"]
words["midoka"] = ["unit","component"]
words["kina"] = ["chip","circuit","circuit chip"]
words["KiRa"] = "here"
words["RuRa"] = "cute"
words["RuRe"] = "like"
words["KhiKa"] = ["explain","details"]
words["ShaKu"] = "why"
words["KiKi"] = "action"
words["KiKiRa"] = "sit"
words["KiKiRi"] = "lay"
words["KiKiRo"] = "obey"
words["KiKiRu"] = "obeys"
words["KiKiRa"] = "walk"
words["KiKiRe"] = "think"
words["Shi"] = "when"
words["Sha"] = "how"
words["Sho"] = "toy"
words["Shu"] = "toys"
words["She"] = "board"
words["PaKa"] = "better"
words["BaPa"] = "worse"
words["BaRaShi"] = "unknown"
words["KaBaRa"] = ["trouble","problem"]
