words = {}
words["dog"] = "duko"
words["dogs"] = "duku"
words["cat"] = "miro"
words["cats"] = "miru"
words["store"] = "kudu"
words["take"] = "kudu"
words["took"] = "kudu"
words["select"] = "kudu"
words["pick"] = "kudu"
words["give"] = "kudi"
words["i"] = "mi"
words["me"] = "mi"
words["we"] = "midi"
words["us"] = "midi"
words["they"] = "di"
words["them"] = "di"
words["that"] = "di"
words["their"] = "di"
words["there"] = "dire"
words["that"] = "dira"
words["what"] = "duro"
words["whats"] = "duru"
words["hi"] = "miri"
words["hello"] = "miri"
words["do"] = "deko"
words["does"] = "deku"
words["did"] = "deki"
words["hide"] = "diku"
words["fall"] = "diku"
words["down"] = "diku"
words["shortend"] = "diku"
words["minus"] = "diku"
words["close"] = "diku"
words["low"] = "diku"
words["less"] = "diku"
words["single"] = "diku"
words["show"] = "diru"
words["rise"] = "diru"
words["up"] = "diru"
words["extended"] = "diru"
words["plus"] = "diru"
words["open"] = "diru"
words["high"] = "diru"
words["more"] = "diru"
words["multi"] = "diru"
words["the"] = "rido"
words["an"] = "rido"
words["it"] = "rido"
words["a"] = "rido"
words["it's"] = "ridu"
words["as"] = ["ridu","gori","bidi"]
words["no"] = "nuli"
words["false"] = "nuli"
words["bad"] = "nuli"
words["yes"] = "nali"
words["true"] = "nali"
words["good"] = "nali"
words["to"] = "riku"
words["in"] = "riku"
words["at"] = "riku"
words["go"] = "riso"
words["start"] = "riso"
words["join"] = "riso"
words["goto"] = "risu"
words["goes"] = "risu"
words["got"] = "ridi"
words["started"] = "ridi"
words["joined"] = "ridi"
words["fox"] = "kino"
words["foxes"] = "kinu"
words["house"] = "kako"
words["houses"] = "kaku"
words["if"] = "si"
words["else"] = "ri"
words["other"] = "ri"
words["end"] = "siso"
words["stop"] = "siso"
words["leave"] = "siso"
words["male"] = "siru"
words["boy"] = "siru"
words["he"] = "siru"
words["female"] = "sira"
words["girl"] = "sira"
words["she"] = "sira"
words["propose"] = "raso"
words["proposes"] = "rasu"
words["known"] = "rasi"
words["now"] = "rase"
words["work"] = "suko"
words["working"] = "suku"
words["task"] = "rino"
words["tasks"] = "rinu"
words["run"] = "nuku"
words["same"] = "rira"
words["similar"] = "riri"
words["diffent"] = "riro"
words["diffents"] = "riru"
words["language"] = "kuro"
words["languages"] = "kuru"
words["voice"] = "nara"
words["chat"] = "noko"
words["chating"] = "noku"
words["sex"] = "sura"
words["have"] = "ruso"
words["had"] = "rusu"
words["fish"] = "rusi"
words["thank"] = "kura"
words["you"] = "ni"
words["wow"] = "nu"
words["cool"] = "na"
words["play"] = "rika"
words["fun"] = "riki"
words["luck"] = "niko"
words["lucky"] = "niku"
words["game"] = "kuka"
words["system"] = "nano"
words["systems"] = "nanu"
words["technology"] = "nani"
words["bye"] = "naro"
words["bye-bye"] = "naru"
words["varible"] = "rina"
words["math"] = "nara"
words["number"] = "nari"
words["string"] = "rini"
words["and"] = "nuri"
words["with"] = "nuri"
words["advanced"] = "kuna"
words["powerful"] = "kuna"
words["electronic"] = "nako"
words["digial"] = "nako"
words["electronics"] = "naku"
words["call"] = "raro"
words["calling"] = "raru"
words["called"] = "rara"
words["mean"] = "nila"
words["program"] = "niro"
words["programing"] = "niru"
words["done"] = "nini"
words["back"] = "nino"
words["backs-up"] = "ninu"
words["main"] = "niki"
words["menu"] = "nira"
words["all"] = "ka"
words["none"] = "ke"
words["unload"] = "keki"
words["load"] = "keko"
words["read"] = "keko"
words["loading"] = "keku"
words["reading"] = "keku"
words["save"] = "kano"
words["set"] = "kano"
words["saved"] = "kane"
words["setted"] = "kane"
words["saving"] = "kanu"
words["setting"] = "kanu"
words["planet"] = "kike"
words["world"] = "kike"
words["zero"] = "la"
words["one"] = "li"
words["two"] = "lo"
words["three"] = "lu"
words["four"] = "lala"
words["five"] = "lila"
words["six"] = "lola"
words["seven"] = "lula"
words["eight"] = "lali"
words["nine"] = "lili"
words["lori"] = "network"
words["luri"] = "internet"
words["luka"] = "settings"
words["rilo"] = "save"
words["rilu"] = "saving"
words["summon"] = "rili"
words["spawn"] = "rili"
words["resummon"] = "rila"
words["respawn"] = "rila"
words["sorry"] = "nara"
words["story"] = "niro"
words["stories"] = "niru"
words["town"] = "nira"
words["city"] = "niri"
words["human"] = "nariko"
words["humans"] = "nariku"
words["earth"] = "karini"
words["Therefore"] = "kine"
words["say"] = "kani"
words["speak"] = "kani"
words["speech"] = "kana"
words["paragraph"] = "kana"
words["kanira"] = "said"
words["spoke"] = "said"
words["move"] = "rako"
words["switch"] = "rako"
words["moved"] = "raku"
words["switched"] = "raku"
words["moving"] = "rake"
words["switching"] = "rake"
words["north"] = "lora"
words["up"] = "lora"
words["south"] = "lori"
words["down"] = "lori"
words["east"] = "lira"
words["right"] = "lira"
words["west"] = "liri"
words["left"] = "liri"
words["land"] = "lura"
words["area"] = "lura"
words["space"] = "lura"
words["camp"] = "luko"
words["camps"] = "luku"
words["before"] = "lari"
words["early"] = "lari"
words["after"] = "lara"
words["late"] = "lara"
words["time"] = "luri"
words["make"] = "rakalo"
words["making"] = "rakalu"
words["made"] = "rakale"
words["brick"] = "rikilo"
words["bricks"] = "rikilu"
words["stone"] = "rikiro"
words["stones"] = "rikiru"
words["build"] = "rolo"
words["building"] = "rolu"
words["buildings"] = "roli"
words["tall"] = "rulo"
words["taller"] = "rulu"
words["top"] = "luraka"
words["bottem"] = "luraki"
words["sky"] = "ranaki"
words["bunny"] = "noro"
words["bunnys"] = "noru"
words["fluffle"] = "nukulo"
words["cake"] = "kiko"
words["cakes"] = "kiku"
words["but"] = "naka"
words["flower"] = "boku"
words["floran"] = "boku"
words["nature"] = "boku"
words["tree"] = "boku"
words["plant"] = "boku"
words["money"] = "kimo"
words["currency"] = "kimo"
words["coin"] = "kibo"
words["coins"] = "kibu"
words["where"] = "nimo"
words["where’s"] = "nimu"
words["wheres"] = "nimu"
words["wear"] = "boki"
words["people"] = "nura"
words["see"] = "boro"
words["sees"] = "boru"
words["water"] = "bori"
words["lava"] = "buri"
words["push"] = "bona"
words["love"] = "bono"
words["loves"] = "bonu"
words["pull"] = "boni"
words["can"] = "bi"
words["park"] = "bo"
words["parks"] = "bu"
words["eat"] = "ba"
words["help"] = "mira"
words["info"] = "mira"
words["food"] = "biki"
words["theme"] = "boko"
words["themes"] = "boku"
words["song"] = "boka"
words["act"] = "boni"
words["warrior"] = "guro"
words["warriors"] = "guru"
words["weapon"] = "guri"
words["attack"] = "gura"
words["friend"] = "goro"
words["friends"] = "goru"
words["war"] = "gukara"
words["translate"] = "gaki"
words["compare"] = "gako"
words["compares"] = "gaku"
words["mean"] = "riga"
words["like"] = "rigi"
words["dislike"] = "regi"
words["pizza"] = "rago"
words["pizza's"] = "ragu"
words["test"] = "rigo"
words["tests"] = "rigu"
words["testing"] = "rigu"
words["HOT"] = "gala"
words["cold"] = "galaki"
words["fire"] = "gari"
words["ice"] = "gare"
words["dry"] = "gure"
words["wet"] = "guri"
words["acid"] = "guro"
words["acids"] = "guru"
words["poke"] = "rugo"
words["ask"] = "rugo"
words["pokes"] = "rugu"
words["asks"] = "rugu"
words["monster"] = "runa"
words["let"] = "nero"
words["lets"] = "neru"
words["set"] = "gori"
words["is"] = "gori"
words["like"] = "gori"
words["equal"] = "gori"
words["life"] = "gore"
words["live"] = "gore"
words["rotate"] = "rire"
words["left"] = "nere"
words["right"] = "nare"
words["toilet"] = "reka"
words["potty"] = "reka"
words["problem"] = "rekika"
words["you"] = "roko"
words["your"] = "roku"
words["common"] = "reki"
words["standerd"] = "reki"
words["step"] = "reno"
words["basics"] = "renu"
words["pro"] = "rego"
words["pros"] = "regu"
words["party"] = "gene"
words["found"] = "guna"
words["each"] = "guno"
words["another"] = "guno"
words["others"] = "gunu"
words["anothers"] = "gunu"
words["bake"] = "gakuba"
words["use"] = "kabo"
words["uses"] = "kabu"
words["used"] = "kabe"
words["instead"] = "beri"
words["tar"] = "buraki"
words["oil"] = "buraka"
words["gas"] = "burake"
words["line"] = "buro"
words["lines"] = "buru"
words["heaven"] = "ribo"
words["heavens"] = "ribu"
words["name"] = "biri"
words["way"] = "bedo"
words["ways"] = "bedu"
words["of"] = "bida"
words["for"] = "bide"
words["to"] = "bado"
words["from"] = "baru"
words["be"] = "bero"
words["split"] = "kabako"
words["splitting"] = "kabaku"
words["splitted"] = "kabaki"
words["across"] = "bara"
words["over"] = "bari"
words["the"] = "babi"
words["warninggaba"] = "gaba"
words["translation"] = "gada"
words["undo"] = "bage"
words["redo"] = "baga"
words["copy"] = "baka"
words["paste"] = "baki"
words["code"] = "siba"
words["random"] = "seka"
words["cheat"] = "seko"
words["cheats"] = "seku"
words["cheating"] = "seke"
words["custom"] = "sero"
words["customize"] = "seru"
words["customble"] = "seri"
words["share"] = "sebo"
words["sharing"] = "sebu"
words["box"] = "base"
words["some"] = "kasi"
words["few"] = "kasi"
words["mode"] = "kesira"
words["survival"] = "kemari"
words["creative"] = "kemare"
words["spectator"] = "kemara"
words["adventure"] = "kemaro"
words["hardcore"] = "kemaru"
words["fool"] = "buro"
words["stupid"] = "buro"
words["dummy"] = "buru"
words["teach"] = "bakako"
words["teaching"] = "baraku"
words["learn"] = "bakiko"
words["learning"] = "bakiku"
words["owner"] = "bokika"
words["work"] = "bokike"
words["boss"] = "bokari"
words["idea"] = "bokaro"
words["plan"] = "bokaro"
words["ideas"] = "bokaru"
words["plans"] = "bokaru"
words["sound"] = "bokare"
words["video"] = "bokara"
words["image"] = "bokara"
words["mad"] = "lokaba"
words["happy"] = "lubira"
words["slow"] = "lobaka"
words["fast"] = "lobaki"
words["light"] = "leri"
words["need"] = "lera"
words["health"] = "lorika"
words["hunger"] = "loriko"
words["hungry"] = "loriku"
words["lord"] = "bokari"
words["came"] = "lakira"
words["are"] = "boga"
words["withheld"] = "nega"
words["confuse"] = "narigo"
words["confuses"] = "narigu"
words["confused"] = "narigi"
words["understand"] = "narego"
words["understands"] = "naregu"
words["not"] = "ne"
words["because"] = "nera"
words["sick"] = "lanelo"
words["virus"] = "lanelu"
words["cure"] = "lanalo"
words["antidote"] = "lanalu"
words["data"] = "mire"
words["file"] = "mire"
words["ok"] = "kali"
words["alright"] = "kali"
words["random"] = "mirilo"
words["access"] = "mikari"
words["memory"] = "mileka"
words["central"] = "mirana"
words["middle"] = "mirana"
words["unit"] = "midoka"
words["component"] = "midoka"
words["chip"] = "kina"
words["circuit"] = "kina"
words["circuit chip"] = "kina"
